@model SistemaInventario.Models.Articulos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro/a que desea eliminar?</h3>
<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo Inventario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposInventarios.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
             @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
